{% extends "user/base.html" %}
{% block title %}通知一覧 | FoodLink{% endblock %}

{% block content %}
<h2>通知一覧</h2>

{% if notifications %}
<ul>
    {% for n in notifications %}
    <li style="margin-bottom: 10px;">

        <!-- 日付 -->
        <strong>{{ n.created_at|date:"Y/m/d H:i" }}</strong><br>

        <!-- メッセージ -->
        {{ n.message }}<br>

        <!-- 商品名 -->
        {% if n.product %}
            <span>商品：{{ n.product.name }}</span><br>

            <a href="{% url 'user_qr_read' n.notification_id %}"
                class="btn btn-success btn-sm mt-2">
                QRコードをスキャン
            </a>
        {% endif %}
        <hr>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>通知はありません。</p>
{% endif %}
{% endblock %}
