{% extends "user/base.html" %}
{% block title %}マイページ | FoodLink{% endblock %}
{% block content %}
  <div class="mypage-header">
    <h2>マイページ</h2>
    <p>ようこそ、{{ user.username }} さん！</p>
    <p>登録メールアドレス: {{ user.email }}</p>
    <p>登録電話番号: {{ user.phone }}</p>
    <p>登録住所: {{ user.postal_code }} {{ user.prefecture }} {{ user.city }} {{ user.address_line1 }} {{ user.address_line2 }}</p>

    <!-- サインアウトボタン -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="logout">ログアウト</button>
    </form>
</div>

{% endblock %}
